[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
requests = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-login = "*"
flask-bootstrap = "*"
bcrypt = "*"
sqlalchemy = "*"
flask-bcrypt = "*"
geocoder = "*"
stringio = "*"
urllib = "*"

[requires]
python_version = "3.6"
